body {
  background-color: rgb(0, 21, 44);
  // background-color: black;
}

.top-headline {
  color: white;
  opacity: 70%;
  font-family: 'Open Sans', monospace;
  font-weight: bolder;
  font-size: 60px;
}

.tech-desc-line {
  color: aqua;
  opacity: 100%;
  font-family: 'Fira Code', monospace;
}

.sub-top-headline {
  color: white;
  opacity: 50%;
  font-size: 60px;
}

.desc-text {
  font-family: 'Fira Code', monospace;
  color: rgb(185, 185, 185);
  line-height: 30px;
  opacity: 60%;
}

.logo {
  // float: left;
  padding-top: 3em;
  padding-left: 9.5em;
}

.header-option {
  float: right;
  padding-left: 2em;
  padding-right: 2em;
  color: rgb(180, 180, 180);
  font-family: 'Fira Code', monospace;
}

.button-option {
  // float: right;
  // padding-left: 2em;
  // padding-right: 2em;
  color: aqua;
  padding-top: 3em;
  // text-decoration: initial;
  float: left;
  font-family: 'Fira Code', monospace;
}

.heading {
  font-family: 'Open Sans', monospace;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  opacity: 65%; 
}

.content {
  color: white;
  opacity: 50%;
  // text-align: j;
  font-family: 'Open Sans', monospace;
  // font-weight: lighter;
  line-height: 30px;
}

.bullet_points {
  font-family: 'Fira Code', monospace;
  color: white;
  // font-size: 20px;
  opacity: 50%;
  padding-left: 10px;
}

.sub-heading {
  font-family: 'Open Sans', monospace;
  font-size: 20px;
  // font-weight: bolder;
  color: white;
  opacity: 70%;
}

.bottom-heading {
  font-family: 'Open Sans',
  monospace;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  opacity: 65%;
}