.pluto {
  color: teal;
  text-decoration: none;
}

.pluto:hover {
  background-color: black;
  color: white;
}

.pluto_response {
  color: teal;
  font-family: 'Hack';
  font-size: 14px;
}

.section {
  margin-top: 12em;
}


::selection {
  color: white;
  background-color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.skill_name {
  color: white;
  background-color: black;
  transition: 0.2s ease-in-out;
}

.skill_name:hover {
  color: teal;
}


/// CSS for mobile-view

@media (max-width: 600px) {
  body {
    // background-color: black;
    text-align: center;
    max-width: 50%;
  }

  .header {
    float: none;
    text-align: center;
  }

  .headline .description {
    float: none;
    text-align: center;
  }
}

.footer_option {
  color: black;
  font-family: "Poppins";
}

.contact_form {
  width: 18%;
  font-family: "Poppins";
}

.input {
  padding: 0.5em;
  font-family: "Poppins";
}

#description-input {
  top: 0%;
  height: 12em;
  width: 20em;
}

.button {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 1em;
  // margin-top: em;
  line-height: 5em;
  ::selection {
    color: none;
    background-color: none;
  }
}